<!-- Styling -->
<link rel="stylesheet" href="gadget.css" type="text/css" />

<!-- jQuery 1.5 -->
<script type="text/javascript" src="../jquery.min.js"></script>

<!-- Finesse Library -->
<script type="text/javascript" src="../finesse.js"></script>

<!-- EIM WIM Server URL -->
<script type="text/javascript" src="config.js"></script>

<!-- Gadget Business Logic -->
<script type="text/javascript" src="gadget.js"></script>

<body>
  <div id="displayOut"></div>
</body>

<script type="text/javascript">
    gadgets.HubSettings.onConnect = function () {
    	// initialize gadget
        finesse.modules.eGainSSO.init();
    	// look up the loginName and then load the iframe
        finesse.modules.eGainSSO.makeWebService();
    };
</script>
